Unexpected token "name" of value "if" ("end of statement block" expected).
Twig\Error\
SyntaxError
Show exception properties
in C:\wamp64\www\tp-symfony\project-symfony\templates\default\index.html.twig (line 20)
                    <a href="{{ path('app_shows', { 'id': teamMember.id }) }}">                        <img src="{{ asset(teamMember.photo) }}" alt="{{ teamMember.firstname }} {{ teamMember.lastname }}">                        <h3>{{ teamMember.firstname }} {{ teamMember.lastname }}</h3>                    </a>                    <div class="subordinates">                        {% for subordinate in team if subordinate.manager_id == teamMember.id %}                            <div class="subordinate">                                <a href="{{ path('app_shows', { 'id': subordinate.id }) }}">                                    <img src="{{ asset(subordinate.photo) }}" alt="{{ subordinate.firstname }} {{ subordinate.lastname }}">                                    <h3>{{ subordinate.firstname }} {{ subordinate.lastname }}</h3>                                </a>
