<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Organigramme hiérarchique</title>
    <link rel="icon" href="data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 128 128'><text y='1.2em' font-size='96'>⚫️</text></svg>">
    <link rel="stylesheet" href="{{ asset('css/shows.css') }}">
</head>
<body>
   {% block body %}
<h1 class="title">Organigramme hiérarchique</h1>

<div class="manager">
    {% for team in teams %}
        <a href="{{ path('app_shows', { 'id': team.id }) }}">
            <img src="{{ asset(team.photo) }}" alt="{{ team.firstname }} {{ team.lastname }}">
            <h3>{{ team.firstname }} {{ team.lastname }}</h3>
            
            {% for position in team.positions %}
                {{ position.label }}
            {% endfor %}
            
            {# Utiliser la fonction dump pour afficher les informations de l'équipe #}
            {% dump(team) %}
        </a>
    </div>
{% endfor %}
</div>
{% endblock %}

</body>
</html>
