{% extends 'base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('css/shows.css') }}">



{% endblock %}

{% block body %}
    <h1 class="title">
        Organigramme hiérarchique Symfony Twig
    </h1>
    <div class="org"> 
        {# Rang 1 : Gérant #}
        <div class="rang-1">
            {% for team in managerGroup %}
                <div class="manager"id="team-member-{{ team.id }}">
                    <a href="{{ path('app_shows', { 'id': team.id }) }}">
                        <img src="{{ asset(team.photo) }}" alt="{{ team.firstname }} {{ team.lastname }}">
                        <h3>{{ team.firstname }} {{ team.lastname }}</h3>
                        {{ team.positions[0].label }}
                    </a>
                </div>
            {% endfor %}
        </div>

        {# Rang 2 : Commercial, Comptabilité, Lead Dev #}
        <div class="rang-2">
            {% for team in secondRankGroup %}
                <div class="position-of-2nd-rank"id="team-member-{{ team.id }}">
                    <a href="{{ path('app_shows', { 'id': team.id }) }}">
                        <img src="{{ asset(team.photo) }}" alt="{{ team.firstname }} {{ team.lastname }}">
                        <h3>{{ team.firstname }} {{ team.lastname }}</h3>
                        {{ team.positions[0].label }}
                    </a>
                </div>
            {% endfor %}
        </div>

        {# Rang 3 : Dev, UI/UX #}
        <div class="rang-3">
            {% for team in thirdRankGroup %}
                <div class="position-of-3rd-rank"id="team-member-{{ team.id }}">
                    <a href="{{ path('app_shows', { 'id': team.id }) }}">
                        <img src="{{ asset(team.photo) }}" alt="{{ team.firstname }} {{ team.lastname }}">
                        <h3>{{ team.firstname }} {{ team.lastname }}</h3>
                        {{ team.positions[0].label }}
                    </a>
                </div>
            {% endfor %}
        </div>

        {# Rang 4 : Stagiaire #}
        <div class="rang-4">
            {% for team in fourthRankGroup %}
                <div class="stagiaire"id="team-member-{{ team.id }}">
                    <a href="{{ path('app_shows', { 'id': team.id }) }}">
                        <img src="{{ asset(team.photo) }}" alt="{{ team.firstname }} {{ team.lastname }}">
                        <h3>{{ team.firstname }} {{ team.lastname }}</h3>
                        {{ team.positions[0].label }}
                    </a>
                </div>
            {% endfor %}
        </div>
    </div>
    
{% endblock %}
